.upper-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 25px;
}

.title{
    color: var(--main-website-color);
    font-size: xx-large;
}

.title-description{
    padding: 0px 30px;
    max-width: 800px;
}

.lower-container{
    display: flex;
    width: 100%;
}

.left-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 90px 220px;
    box-sizing: border-box;
    line-height: 1.5rem;
    padding-bottom: 0px;
}

.left-title{
    color: var(--main-website-color);
    font-size: x-large;
    margin-bottom: 30px;
}

.left-text{

}

.right-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 90px 220px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

.right-title{
    color: var(--main-website-color);
    font-size: x-large;
    margin-bottom: 30px;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    border: 2px solid var(--main-website-color);
    border-radius: 7px;
    padding: 15px;
    margin: 10px 19px;
}


@media screen and (max-width: 1500px) {
    .left-container{
        padding: 90px;
    }

    .right-container{
        padding: 90px
    }

    .upper-container{
        padding: 40px;
    }
}

@media screen and (max-width: 950px) {
    .left-container{
        padding: 50px;
    }

    .right-container{
        padding: 50px
    }

    .upper-container{
        padding: 20px;
    }
}


@media screen and (max-width: 950px) {
    .lower-container{
        flex-direction: column;
    }
    .left-container{
        width: 100%;
    }
    .right-container{
        width: 100%;
    }
}