.cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    /* margin-top: 125px; */
    min-height: 18rem;
    align-items: center;
}

.sidebar-container{
    position: absolute;
    top: 4rem;
    left: -20rem;
}

.sidebar-container-mobile{
    position: absolute;
}