.title{
    text-align: center;
    margin: 35px 0 70px 0;
    color: var(--main-website-color);
}


.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
}

.image{
    background-color: var(--main-website-color);
    border-radius: 50%;
}

.image:hover{
    background-color: var(--main-website-hover-color);
    cursor: pointer;
}