:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --main-website-color: #00c6bd;
    --main-website-hover-color: #25f3e9;
    --main-background-color: #2e313a;
    --main-text-color: white;
}

html,
body {
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--main-background-color);
  min-height: 100vh;
  color: var(--main-text-color);
  transition: background 0.3s, color 0.3s;
}

@media screen and (max-width: 650px) {
  body{
    font-size: 14px;
  }
}

::selection{
  background: var(--main-website-color);
}

a {
  color: inherit;
  text-decoration: none;
}

