.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid var(--main-website-color);
    gap: 20px;
    position: relative;
    transition: border-color 0.3s;

}

.header-element{
    color: var(--main-website-color);
    transition: color 0.3s;
}

.header-element:hover{
    color: var( --main-website-hover-color);
    text-decoration: underline;
    transition: color 0.3s;
}

.header-element-active{
    color: var( --main-website-hover-color);
    text-decoration: underline;
}

.languages-container{
    position: absolute;
    right: 60px;
}

.active{
    color: var(--main-website-hover-color);
    transition: color 0.3s;
}

.language-select:hover{
    cursor: pointer;
}