.intro-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.profile-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid var(--main-website-color);
}

.intro-text{
    width: 40%;
    font-size: xxx-large;

}

.intro-name{
    color: var(--main-website-color);
}

@media screen and (max-width: 650px){
    .profile-pic{
        width: 150px;
        height: 150px
    }
    .intro-text{
        width: 40%;
        font-size: x-large;
    }
    .intro-container{
        margin-bottom: 15px;
    }
}


.footer-container{
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

@media  screen and (max-width: 1100px){
    .footer-container{
        margin-bottom: 0px;

    }
}

.footer{
    border: solid 2px var(--main-website-color);
    padding: 4rem;
    border-radius: 5px;
}


.reference-link{
    color: var(--main-website-color);
    text-decoration: underline;
    transition: color 0.3s;
}

@media  screen and (max-width: 650px){
    .footer{
        padding: 2rem;
        border: none;
        border-top: solid 2px var(--main-website-color) ;
    }
}