.container{
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
}

.anime-getter-container{
    padding-top: 95px;
}

.gifs-container{
    position: relative;
    width: 35%;
}

.anime-getter-gifs-container{
    width: 50%;
}

.gif{
    position: absolute;
    transition: transform 0.3s;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3)
}



.active-gif{
    z-index: 10;
}

.active-gif:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.inactive-gif{
    transform: translate(20px) rotate(5deg);
    z-index: 1;
}

.inactive-gif:hover{
    transform: translateY(-5px) translate(30px) rotate(8deg);
    cursor: pointer;
}

.card-description{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.reference-link{
    color: var(--main-website-color);
    text-decoration: underline;
    transition: color 0.3s;
}

.card-title{
    color: var(--main-website-color);
    transition: color 0.3s;
    font-size: larger;
}

.anime-getter-card-description{
    width: 50%;
}

